*.egg
*.egg-info/
*.idea
*.log
*.manifest
*.mo
*.pot
*.project
*.py[cod]
*.pydev
*.so
*.spec
.cache
.coverage
.deps/
.DS_Store
.env*
.installed.cfg
.pytest_cache/
.Python
.tox/
.venv/
.vscode/
__pycache__/
_reports
artifact/
backups/
build/
cache/*.cache
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
Dockerfile.*_*
htmlcov/
ignore/
node_modules/
nosetests.xml
sdist/
tmp/
